@charset "UTF-8";

body{
    background-color: rgb(226, 226, 93);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(216, 143, 53);
}

h1#principal{
    text-align: center;
    background-color: burlywood;
    color: black;
}

h2{
    color: rgb(156, 112, 58);
}

.basico{
    color: rgb(54, 42, 165);
    font-weight: 900;

}

.avancado{
    color: rgb(91, 75, 185);
    font-weight: 900;

}